@import "/src/styles/variables";
@import "~bootstrap/scss/mixins";

.hero {
  position: relative;
  background: linear-gradient(0deg, #02030c 0%, #02030c 100%),
    linear-gradient(0deg, #ffe185 0%, #ffe185 100%);
  width: 100%;
  min-height: auto;
  padding-top: 55px;
  padding-bottom: var(--spacer-6);

  @include media-breakpoint-down(md) {
    min-height: fit-content;
  }

  &_row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    flex-direction: row;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      gap: 64px;
    }
  }

  &_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;

    @media (max-width: 1000px) {
      position: relative;
      justify-content: center;
      align-items: center;
    }
    @include media-breakpoint-down(md) {
      margin-top: 24px !important;
    }
  }
  &_subTitle {
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 130% !important;
    letter-spacing: -0.09px !important;
    color: var(--interface-orange-600) !important;
    text-align: left;
    max-width: 580px;
    @include media-breakpoint-down(lg) {
      max-width: 100%;
      text-align: center;
    }
  }
  &_color {
    color: var(--primary-body) !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  &_title {
    font-size: 32px !important;
    font-weight: 500 !important;
    line-height: 130% !important; /* 41.6px */
    letter-spacing: -0.64px !important;
    color: var(--interface-yellow-800);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 558px;
    text-align: left;
    padding-top: 40px;
    @include media-breakpoint-down(xl) {
      font-size: 24px !important;
    }
    @include media-breakpoint-down(lg) {
      max-width: 100%;
      text-align: center;
    }
  }
  &_form {
    display: flex !important;
    flex-direction: column !important;
    gap: 32px;
  }
  &_image {
    @include media-breakpoint-down(md) {
      width: 100% !important;
      height: auto !important;
    }
  }
}
.dark_button {
  display: flex;
  padding: 10px 20px !important;
  max-width: 177px;
  justify-content: center;
  align-items: center;
  background-color: var(--interface-orange-600) !important;
  color: var(--primary-black) !important;
  border: none;
  border-radius: 100px !important;
  font-size: 15px !important;
  font-weight: 500;
  font-family: var(--font-body);
  line-height: 24px;
  &_icon {
    margin-right: 16px;
  }
  &:hover {
    background-color: var(--interface-yellow-900) !important;
    opacity: 1 !important;
  }
  &:active {
    background-color: var(--interface-yellow-900) !important;
    opacity: 1 !important;
  }
}
