@import "/src/styles/variables";
@import "~bootstrap/scss/mixins";

.footer {
  padding: 40px var(--spacer-4) 52px;
  border: 1px solid var(--primary-black);
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 89.93%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%),
    linear-gradient(0deg, #0a071f 0%, #0a071f 100%), #161230;
  background-blend-mode: overlay, normal, normal, normal;
  @include media-breakpoint-down(md) {
    padding: 40px var(--spacer-1) 52px;
  }
}
.container {
  display: flex;
  gap: 52px;
  justify-content: space-between;
  @include media-breakpoint-down(md) {
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
  }
}

.leftContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  @include media-breakpoint-down(md) {
    width: 100% !important;
    gap: var(--spacer-2);
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  gap: var(--spacer-1);
  h5 {
    font-weight: 600;
    color: var(--interface-orange-600);
  }
  @include media-breakpoint-up(lg) {
    gap: 5px;
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: var(--spacer-2);
  @include media-breakpoint-down(lg) {
    gap: var(--spacer-1);
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 6px;
  &:hover {
    opacity: 0.6;
  }
  @include media-breakpoint-down(lg) {
    gap: 2px;
  }
}

.rightContainer {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: var(--interface-yellow-200);

  h6 {
    font-family: var(--font-open-sans);
  }

  @include media-breakpoint-down(md) {
    flex-basis: 30%;
  }
  @include media-breakpoint-down(sm) {
    flex-basis: 40%;
  }
}

.content {
  font-size: 14px !important;
  font-weight: 400;
  color: var(--interface-yellow-200);
  padding-right: 77px;
  font-family: var(--font-body) !important;
  @include media-breakpoint-down(lg) {
    min-width: 100%;
  }
}
