@import "/src/styles/variables";
@import "~bootstrap/scss/mixins";

.live {
  margin-top: var(--spacer-2);
  margin-bottom: 178px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: var(--primary-body);
  @include media-breakpoint-down(xl) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_title {
    line-height: 52px !important;
    letter-spacing: -0.48px !important;
    margin-bottom: var(--spacer-1);
  }
  &_detail {
    line-height: 52px !important;
    letter-spacing: -0.2px !important;
    font-size: 40px !important;
    max-width: 606px;
  }
  &_chat_with {
    font-weight: 300;
  }
  &_chat_now {
    font-weight: 600;
    color: var(--interface-orange-600);
  }
}
