.layout,
main.layout {
  display: flex;
  flex-direction: column;
}
body:has(.layout) {
  background-color: var(--primary-dark) !important;
  color: var(--primary-body);
}

.container-wide {
  @include make-container(48px);
  @include media-breakpoint-up(xxl) {
    max-width: 1400px !important;
    padding: 0px 40px;
    @include media-breakpoint-down(xxll) {
      max-width: 1180px;
    }
    @include media-breakpoint-down(xl) {
      max-width: 100%;
    }
    @include media-breakpoint-down(mlg) {
      max-width: 100%;
      padding: 0px 32px;
    }
  }
}
