.layout,
main.layout {
  display: flex;
  flex-direction: column;
}
body:has(.layout) {
  background-color: var(--primary-dark);
  color: var(--primary-body);
}

.container-wide {
  @include make-container(48px);
  @include media-breakpoint-up(xl) {
    max-width: 1400px !important;
    padding: 0px 60px !important;
  }
  @include media-breakpoint-down(xl) {
    max-width: 100%;
    padding: 0px 40px !important;
  }
}
