.layout,
main.layout {
  display: flex;
  flex-direction: column;
}
body:has(.layout) {
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.container-wide {
  @include make-container(48px);

  @include media-breakpoint-up(xxl) {
    max-width: 1440px;
  }
}
