@import "/src/styles/variables";
@import "~bootstrap/scss/mixins";

.header {
  background: var(--primary-black);
  padding: var(--spacer-3) 0px;
  color: var(--primary-black);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacer-2) var(--spacer-4);
  background: var(--primary-black);
  border-radius: 64px;
  border: 1px solid #25204e;
  box-shadow: 0 2px 14px 0 rgba(13, 0, 255, 0.1);
  @media (max-width: 840px) {
    border: none !important;
    padding: var(--spacer-0) !important;
  }
}

.left {
  display: flex;
  align-items: center;
  &_img {
    object-fit: contain;
  }
  &_text {
    font-size: 24px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
  }
}

.nav {
  display: flex;
  margin-left: 52px;
  gap: 38px;
  a {
    text-decoration: none;
    color: var(--primary-white);
    display: flex;
    align-items: center;
    gap: 12px;
    &:hover {
      opacity: 1;
    }
  }
  @include media-breakpoint-down(xl) {
    gap: var(--spacer-3);
    margin-left: 20px;
  }
  @include media-breakpoint-down(lg) {
    gap: 8px;
    margin-left: 12px;
  }
  @media (max-width: 840px) {
    display: none;
  }
}

.navItem {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: var(--spacer-1);
  h6 {
    font-weight: 500;
    color: var(--interface-yellow-200);
    font-family: var(--font-body);
  }
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 38px;

  @media (max-width: 840px) {
    display: none;
  }
  @include media-breakpoint-down(xl) {
    gap: 16px;
  }
  @include media-breakpoint-down(lg) {
    gap: 10px;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: var(--spacer-2);
  @include media-breakpoint-down(lg) {
    gap: var(--spacer-1);
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 4px;
  &:hover {
    opacity: 0.6;
  }
  h6 {
    font-weight: 500;
    color: var(--primary-black);
  }
  @include media-breakpoint-down(lg) {
    gap: 2px;
  }
}

.menuButton {
  position: relative;
  width: 30px;
  height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;

  span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--interface-orange-600);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }

  @media (min-width: 840px) {
    display: none;
  }
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: scroll;
  width: 100%;
  background: var(--primary-black);
  z-index: 900;
  padding-top: 40px;
  transition: all 0.4s ease-in-out;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.drawerHeader {
  margin-bottom: var(--spacer-5);
  padding-left: 23px;
  padding-right: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.drawerContent {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  gap: var(--spacer-3);
  padding-left: 23px;
}

.drawerSectionTitle {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.drawerItem {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-bottom: 16px;
  color: var(--primary-white);
  cursor: pointer;

  &:hover {
    color: #f480ff;
  }

  &_heading {
    font-size: 16px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 20px !important;
    color: var(--primary-body) !important;
    &:hover {
      color: var(--interface-orange-600) !important;
      opacity: 1 !important;
    }
    &:active {
      color: var(--interface-orange-600) !important;
      opacity: 1 !important;
    }
  }
}

.verticalColumn {
  width: 1px;
  height: 32px;
  background-color: var(--interface-brown-500);
}

.dark_button {
  display: flex;
  padding: 10px 20px !important;
  justify-content: center;
  align-items: center;
  background-color: var(--interface-orange-600) !important;
  color: var(--primary-black) !important;
  border: none;
  border-radius: 100px !important;
  font-size: 15px !important;
  font-weight: 500;
  font-family: var(--font-body);
  line-height: 24px;
  &_icon {
    margin-right: 16px;
  }
  &:hover {
    background-color: var(--interface-yellow-900) !important;
    opacity: 1 !important;
  }
  &:active {
    background-color: var(--interface-yellow-900) !important;
    opacity: 1 !important;
  }
}
.mob {
  padding-left: 23px;
  padding-right: 23px;
  width: 100%;
}
.mob_button {
  width: 100%;
  padding: var(--spacer-3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}
