@import "/src/styles/variables";
@import "~bootstrap/scss/mixins";

.card {
  padding: 38px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: var(--spacer-2);
  color: var(--primary-body);
  background-color: var(--primary-white);
  min-width: 653px;
  &_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &_title {
    font-size: 35px !important;
    line-height: 32px !important;
    letter-spacing: -0.875px !important;
    text-align: left;
  }
  &_detail {
    line-height: 32px !important;
    letter-spacing: -0.12px !important;
    text-align: left;
  }
  &_image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      @include media-breakpoint-down(sm) {
        width: 100%;
        object-fit: contain;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    min-width: 100%;
  }
}
